{% extends 'base.html' %}

{% block title %}SGF - Detalhes da Conta{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3>Detalhes da Conta</h3>
        <div>
            <a href="{% url 'conta:update' conta.id %}" class="btn btn-warning bi bi-pencil"></a>
            <a href="{% url 'conta:delete' conta.id %}" class="btn btn-danger bi bi-trash3"></a>
        </div>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Conta:</dt>
            <dd class="col-sm-9">{{ conta.conta }}</dd>
            
            <dt class="col-sm-3">Saldo Inicial:</dt>
            <dd class="col-sm-9">R$ {{ conta.saldo_inicial }}</dd>
            
            <dt class="col-sm-3">Descrição:</dt>
            <dd class="col-sm-9">{{ conta.descricao|linebreaks }}</dd>
        </dl>
    </div>
    <div class="card-footer">
        <a href="{% url 'conta:list' %}" class="btn btn-secondary">Voltar</a>
    </div>
</div>
{% endblock %}