{% extends 'base.html' %}

{% block title %}SGF - Detalhes do cartão{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3>Detalhes do Cartão</h3>
        <div>
            <a href="{% url 'cartao:update' cartao.id %}" class="btn btn-warning bi bi-pencil"></a>
            <a href="{% url 'cartao:delete' cartao.id %}" class="btn btn-danger bi bi-trash3"></a>
        </div>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Cartão:</dt>
            <dd class="col-sm-9">{{ cartao.nome_cartao }}</dd>
        </dl>
    </div>
    <div class="card-footer">
        <a href="{% url 'cartao:list' %}" class="btn btn-secondary">Voltar</a>
    </div>
</div>
{% endblock %}