{% extends 'base.html' %}

{% block title %}
    {% if form.instance.id %}SGF - Editar{% else %}SGF - Novo{% endif %} Cartão
{% endblock %}


{% block content %}
{% if form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ form.non_field_errors }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}

<div class="card">
    <div class="card-header">
        <h3>{% if form.instance.id %}Editar{% else %}Novo{% endif %} Cartão</h3>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            
            <div class="mb-3">
                <label for="{{ form.nome_cartao.id_for_label }}" class="form-label">Cartão</label>
                {{ form.nome_cartao }}
                {% if form.nome_cartao.errors %}
                <div class="invalid-feedback d-block">
                    {{ form.nome_cartao.errors }}
                </div>
                {% endif %}
            </div>
                        
            <div class="d-flex justify-content-between">
                <a href="{% url 'cartao:list' %}" class="btn btn-secondary">Voltar</a>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}