{% extends 'base.html' %}

{% block title %}SGF - Detalhes do Lançamento Financeiro{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3>Detalhes do Lançamento Financeiro</h3>
        <div>
            <a href="{% url 'lancamento_financeiro:update' lancamento.id %}" class="btn btn-warning bi bi-pencil"></a>
            <a href="{% url 'lancamento_financeiro:delete' lancamento.id %}" class="btn btn-danger bi bi-trash3"></a>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <!-- Dados básicos -->
            <div class="col-md-6">
                <h5 class="border-bottom pb-2 mb-3">Informações Básicas</h5>
                <dl class="row">
                    <dt class="col-sm-4">Data de Emissão:</dt>
                    <dd class="col-sm-8">{{ lancamento.data_emissao|date:"d/m/Y H:i" }}</dd>
                    
                    <dt class="col-sm-4">Data de Vencimento:</dt>
                    <dd class="col-sm-8">{{ lancamento.data_vencimento|date:"d/m/Y H:i" }}</dd>
                    
                    <dt class="col-sm-4">Valor:</dt>
                    <dd class="col-sm-8">R$ {{ lancamento.valor }}</dd>
                    
                    <dt class="col-sm-4">Descrição:</dt>
                    <dd class="col-sm-8">{{ lancamento.descricao|linebreaks }}</dd>
                </dl>
            </div>
            
            <!-- Classificações -->
            <div class="col-md-6">
                <h5 class="border-bottom pb-2 mb-3">Classificações</h5>
                <dl class="row">
                    <dt class="col-sm-4">Classe:</dt>
                    <dd class="col-sm-8">{{ lancamento.classe }}</dd>
                    
                    <dt class="col-sm-4">Grupo:</dt>
                    <dd class="col-sm-8">{{ lancamento.grupo }}</dd>
                    
                    <dt class="col-sm-4">Natureza:</dt>
                    <dd class="col-sm-8">{{ lancamento.natureza }}</dd>
                    
                    <dt class="col-sm-4">Centro de Custo:</dt>
                    <dd class="col-sm-8">{{ lancamento.centro_custo }}</dd>
                </dl>
            </div>
        </div>
        
        <div class="row mt-4">
            <!-- Dados financeiros -->
            <div class="col-md-6">
                <h5 class="border-bottom pb-2 mb-3">Dados Financeiros</h5>
                <dl class="row">
                    <dt class="col-sm-4">Movimento de Caixa:</dt>
                    <dd class="col-sm-8">{{ lancamento.movimento_caixa }}</dd>
                    
                    <dt class="col-sm-4">Conta:</dt>
                    <dd class="col-sm-8">{{ lancamento.conta }}</dd>
                    
                    <dt class="col-sm-4">Cartão:</dt>
                    <dd class="col-sm-8">{{ lancamento.cartao|default:"Não informado" }}</dd>
                    
                    <dt class="col-sm-4">Operação:</dt>
                    <dd class="col-sm-8">{{ lancamento.operacao }}</dd>
                </dl>
            </div>
            
            <!-- Pagamento -->
            <div class="col-md-6">
                <h5 class="border-bottom pb-2 mb-3">Dados de Pagamento</h5>
                <dl class="row">
                    <dt class="col-sm-4">Status:</dt>
                    <dd class="col-sm-8">{{ lancamento.status_movimento }}</dd>
                    
                    <dt class="col-sm-4">Forma de Pagamento:</dt>
                    <dd class="col-sm-8">{{ lancamento.forma_pagamento }}</dd>
                    
                    <dt class="col-sm-4">Parcela:</dt>
                    <dd class="col-sm-8">{{ lancamento.parcela }} de {{ lancamento.quantidade_parcela }}</dd>
                </dl>
            </div>
        </div>
        
        <!-- Dados de sistema -->
        <div class="row mt-4">
            <div class="col-12">
                <h5 class="border-bottom pb-2 mb-3">Informações do Sistema</h5>
                <dl class="row">
                    <dt class="col-sm-2">Data de Criação:</dt>
                    <dd class="col-sm-4">{{ lancamento.data_criacao|date:"d/m/Y H:i" }}</dd>
                    
                    <dt class="col-sm-2">Última Alteração:</dt>
                    <dd class="col-sm-4">{{ lancamento.data_alteracao|date:"d/m/Y H:i" }}</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a href="{% url 'lancamento_financeiro:list' %}" class="btn btn-secondary">Voltar</a>
    </div>
</div>
{% endblock %}