{% extends 'base.html' %}

{% block title %}SGF - Detalhes do Movimento{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3>Detalhes do Movimento de Caixa</h3>
        <div>
            <a href="{% url 'movimento_caixa:update' movimento.id %}" class="btn btn-warning bi bi-pencil"></a>
            <a href="{% url 'movimento_caixa:delete' movimento.id %}" class="btn btn-danger bi bi-trash3"></a>
        </div>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Movimento de Caixa:</dt>
            <dd class="col-sm-9">{{ movimento.tipo_movimento }}</dd>
        </dl>
    </div>
    <div class="card-footer">
        <a href="{% url 'movimento_caixa:list' %}" class="btn btn-secondary">Voltar</a>
    </div>
</div>
{% endblock %}